<!-- <a routerLink="/">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a> -->

<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [editable]="editable">
    <ng-template matStepLabel>Configure videos</ng-template>

    <p class="lead">Output metadata</p>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">
          Album Name
        </span>
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default"
        [(ngModel)]="albumName"
      />
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">
          Track Title
        </span>
      </div>
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>
          {{ trackNameAlg.displayName }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button
            *ngFor="let option of trackOptions"
            ngbDropdownItem
            (click)="trackNameAlg = option; updateTrackTitles()"
          >
            {{ option.displayName }}
          </button>
        </div>
      </div>
    </div>

    <ul class="list-group">
      <li class="list-group-item" *ngFor="let formVideo of formVideos">
        <p class="lead">{{ formVideo.video.filename }}</p>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">
              Track #
            </span>
          </div>
          <input
            type="number"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            [(ngModel)]="formVideo.outputOptions.trackNumber"
          />
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">
              Track Name
            </span>
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            [disabled]="trackNameAlg.id != 'custom'"
            [(ngModel)]="formVideo.outputOptions.trackName"
          />
        </div>

        Audio tracks

        <br />

        <div ngbDropdown class="d-inline-block">
          <button
            class="btn btn-outline-primary"
            id="dropdownBasic4"
            ngbDropdownToggle
          >
            {{ getName(formVideo.audioStream) }}
          </button>
          <div
            ngbDropdownMenu
            aria-labelledby="dropdownBasic1"
            style="z-index: 999"
          >
            <button
              ngbDropdownItem
              *ngFor="let track of getAudioTracks(formVideo.video)"
              (click)="formVideo.audioStream = track"
            >
              {{ getName(track) }}
            </button>
          </div>
        </div>

        <br />

        Subtitle tracks
        <br />

        <div ngbDropdown class="d-inline-block">
          <button
            class="btn btn-outline-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            {{
              formVideo.subtitlesOverridePath
                ? 'External subs file'
                : getName(formVideo.subtitleStream)
            }}
          </button>
          <div
            ngbDropdownMenu
            aria-labelledby="dropdownBasic1"
            style="z-index: 999"
          >
            <button
              ngbDropdownItem
              (click)="
                formVideo.subtitleStream = null;
                formVideo.subtitlesOverridePath = undefined
              "
            >
              {{ getName(null) }}
            </button>
            <button
              ngbDropdownItem
              *ngFor="let track of getSubtitleTracks(formVideo.video)"
              (click)="formVideo.subtitleStream = track"
            >
              {{ getName(track) }}
            </button>
            <button ngbDropdownItem (click)="pickSubtitleFile(formVideo)">
              Choose external file
            </button>
          </div>
        </div>

        <br /><br />

        <ngb-alert
          type="secondary"
          *ngIf="!formVideo.subtitleStream"
          [dismissible]="false"
        >
          Subtitles will not be used to remove gaps in dialog.
        </ngb-alert>

        <ngb-alert
          type="warning"
          *ngIf="getUnsupportedSubtitleTracks(formVideo.video)"
          [dismissible]="false"
        >
          {{ getUnsupportedSubtitleTracks(formVideo.video).length }} subtitle
          track(s) that were found are unsupported.
        </ngb-alert>
      </li>
    </ul>

    <br />
    <div>
      <button matStepperNext class="btn btn-primary">Next</button>
    </div>
  </mat-step>
  <mat-step [editable]="editable" [ngSwitch]="chapterSummaries.length > 0">
    <ng-template matStepLabel>Pick chapters to ignore</ng-template>

    <ngb-alert type="primary" [dismissible]="false" *ngSwitchCase="false">
      None of the videos you selected have labeled chapters.
    </ngb-alert>

    <div *ngSwitchDefault>
      <p>
        Found the following labeled chapters in the videos you selected. Choose
        any chapters that you want to ignore.
      </p>

      <ul class="list-group">
        <li
          class="list-group-item list-group-item-action"
          *ngFor="let chapter of chapterSummaries"
        >
          <div class="chapter-container">
            <div class="chapter-content-container">
              {{ chapter.title }} (median {{ chapter.medianStart }} -
              {{ chapter.medianEnd }})
              <br />
              Found in {{ chapter.count }} video(s).
            </div>
            <div class="chapter-button-container">
              <div class="btn-group btn-group-toggle">
                <label class="btn-primary" ngbButtonLabel>
                  <input
                    type="checkbox"
                    ngbButton
                    [valueChecked]="isIgnoredChapter(chapter)"
                    (click)="chapterClicked(chapter)"
                  />
                  {{ isIgnoredChapter(chapter) ? 'Ignored' : 'Ignore' }}
                  <mat-icon
                    aria-hidden="false"
                    aria-label="Example home icon"
                    inline="true"
                    *ngIf="isIgnoredChapter(chapter)"
                  >
                    check_circle
                  </mat-icon>
                </label>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <br />
    </div>

    <div>
      <button matStepperNext class="btn btn-primary">Next</button>
    </div>
  </mat-step>

  <mat-step [editable]="editable">
    <ng-template matStepLabel>Extract dialog</ng-template>

    <div>
      <button
        class="btn btn-primary"
        type="button"
        [disabled]="!editable"
        (click)="extract()"
      >
        Start Extraction
      </button>
    </div>

    <br />

    <ul class="list-group">
      <li class="list-group-item" *ngFor="let formVideo of formVideos">
        <app-video-progress [formVideo]="formVideo"></app-video-progress>
      </li>
    </ul>
    <br />
    <ngb-alert type="primary" [dismissible]="false">
      You can find your MP3 files in the "Dialog" folder on your desktop.
    </ngb-alert>
    <ngb-alert type="secondary" [dismissible]="false">
      Developer's Note: For now you will see MP3 files in the folder while they
      are being created. Wait until the app says it's done before opening.
    </ngb-alert>
  </mat-step>
</mat-vertical-stepper>
