<p>wizard works!</p>

<a routerLink="/">{{ "PAGES.HOME.GO_TO_DETAIL" | translate }}</a>

<br />

<mat-vertical-stepper [linear]="false" #stepper>
  <mat-step>
    <ng-template matStepLabel>Choose audio/subtitle tracks</ng-template>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let formVideo of formVideos">
        {{ formVideo.video.filename }}
        <br />

        Audio tracks

        <br />

        <div
          class="btn-group btn-group-toggle"
          ngbRadioGroup
          name="radioBasic"
          [(ngModel)]="formVideo.audioStream"
        >
          <label
            ngbButtonLabel
            class="btn-primary"
            *ngFor="let track of getAudioTracks(formVideo.video)"
          >
            <input
              ngbButton
              type="radio"
              [value]="track"
              [disabled]="getAudioTracks(formVideo.video).length < 2"
            />
            {{ getName(track) }}
          </label>
        </div>
        <br />

        Subtitle tracks
        <br />

        <div
          class="btn-group btn-group-toggle"
          ngbRadioGroup
          name="radioBasic"
          [(ngModel)]="formVideo.subtitleStream"
        >
          <label
            ngbButtonLabel
            class="btn-primary"
            *ngFor="let track of getSubtitleTracks(formVideo.video)"
          >
            <input
              ngbButton
              type="radio"
              [value]="track"
              [disabled]="getAudioTracks(formVideo.video).length < 2"
            />
            {{ getName(track) }}
          </label>
        </div>
      </li>
    </ul>

    <br />
    <div>
      <button mat-button matStepperNext class="btn btn-primary">Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pick chapters to ignore</ng-template>

    Found the following labeled chapters in the videos you selected. Chose the
    chapters you want to not appear in the output.

    <ul class="list-group">
      <li
        class="list-group-item list-group-item-action"
        *ngFor="let chapter of chapterSummaries"
        [ngClass]="{ active: isIgnoredChapter(chapter) }"
        (click)="chapterClicked(chapter)"
      >
        {{ chapter.title }} (median {{ chapter.medianStart }} -
        {{ chapter.medianEnd }})
        <br />
        Found in {{ chapter.count }} video(s).
      </li>
    </ul>

    <br />

    <div>
      <button mat-button matStepperPrevious class="btn btn-primary">
        Back
      </button>
      <button mat-button matStepperNext class="btn btn-primary">Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Extract dialog</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious class="btn btn-primary">
        Back
      </button>
    </div>
  </mat-step>
</mat-vertical-stepper>
