<p>wizard works!</p>

<a routerLink="/">{{ "PAGES.HOME.GO_TO_DETAIL" | translate }}</a>

<br />

<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [editable]="editable">
    <ng-template matStepLabel>Choose audio/subtitle tracks</ng-template>

    <ul class="list-group">
      <li class="list-group-item" *ngFor="let formVideo of formVideos">
        {{ formVideo.video.filename }}
        <br />

        Audio tracks

        <br />

        <div
          class="btn-group btn-group-toggle"
          ngbRadioGroup
          name="radioBasic"
          [(ngModel)]="formVideo.audioStream"
        >
          <label
            ngbButtonLabel
            class="btn-primary"
            *ngFor="let track of getAudioTracks(formVideo.video)"
          >
            <input
              ngbButton
              type="radio"
              [value]="track"
              [disabled]="getAudioTracks(formVideo.video).length < 2"
            />
            {{ getName(track) }}
          </label>
        </div>
        <br />

        Subtitle tracks
        <br />

        <div
          class="btn-group btn-group-toggle"
          ngbRadioGroup
          name="radioBasic"
          [(ngModel)]="formVideo.subtitleStream"
        >
          <label
            ngbButtonLabel
            class="btn-primary"
            *ngFor="let track of getSubtitleTracks(formVideo.video)"
          >
            <input
              ngbButton
              type="radio"
              [value]="track"
              [disabled]="getSubtitleTracks(formVideo.video).length < 2"
            />
            {{ getName(track) }}
          </label>
        </div>
      </li>
    </ul>

    <br />
    <div>
      <button matStepperNext class="btn btn-primary">Next</button>
    </div>
  </mat-step>
  <mat-step [editable]="editable" [ngSwitch]="chapterSummaries.length > 0">
    <ng-template matStepLabel>Pick chapters to ignore</ng-template>

    <ngb-alert type="primary" [dismissible]="false" *ngSwitchCase="false">
      None of the videos you selected have labeled chapters.
    </ngb-alert>

    <div *ngSwitchDefault>
      Found the following labeled chapters in the videos you selected. Chose the
      chapters you want to not appear in the output.

      <ul class="list-group">
        <li
          class="list-group-item list-group-item-action"
          *ngFor="let chapter of chapterSummaries"
        >
          <div class="chapter-container">
            <div class="chapter-content-container">
              {{ chapter.title }} (median {{ chapter.medianStart }} -
              {{ chapter.medianEnd }})
              <br />
              Found in {{ chapter.count }} video(s).
            </div>
            <div class="chapter-button-container">
              <div class="btn-group btn-group-toggle">
                <label class="btn-primary" ngbButtonLabel>
                  <input
                    type="checkbox"
                    ngbButton
                    [valueChecked]="isIgnoredChapter(chapter)"
                    (click)="chapterClicked(chapter)"
                  />
                  {{ isIgnoredChapter(chapter) ? "Ignored" : "Ignore" }}
                  <mat-icon
                    aria-hidden="false"
                    aria-label="Example home icon"
                    inline="true"
                    *ngIf="isIgnoredChapter(chapter)"
                    >check_circle</mat-icon
                  >
                </label>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <br />
    </div>

    <div>
      <button matStepperPrevious class="btn btn-primary">Back</button>
      <button matStepperNext class="btn btn-primary">Next</button>
    </div>
  </mat-step>

  <mat-step [editable]="editable">
    <ng-template matStepLabel>Extract dialog</ng-template>
    <p>Click to start extraction.</p>

    <button class="btn btn-primary" type="button" (click)="extract()">
      Start
    </button>

    <br />

    <div>
      <button matStepperPrevious class="btn btn-primary">Back</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
