<div class="container">
  <div class="jumbotron">
    <h3 id="page-title" class="display-4">
      {{ 'PAGES.HOME.TITLE' | translate }}
    </h3>
    <p class="lead">
      Dialog is an app that lets you extract an audio file of condensed dialog
      from a video file. Choose some videos to get started.
    </p>
    <button class="btn btn-primary" type="button" (click)="doThing()">
      Add Videos
    </button>
    &nbsp;
    <button
      class="btn btn-info"
      type="button"
      (click)="showDevConsole()"
      [hidden]="devConsoleOpen"
    >
      Open Developer Console
    </button>
  </div>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let video of videos">
      {{ video.filename }}
    </li>
  </ul>

  <br />

  <button
    class="btn btn-success"
    type="button"
    [hidden]="videos.length == 0"
    routerLink="/wizard"
  >
    Extract Dialog
  </button>
</div>
