<div class="container">
  <h1 class="title">
    {{ "PAGES.HOME.TITLE" | translate }}
  </h1>

  <button class="btn btn-primary" type="button" (click)="doThing()">
    Add Videos
  </button>
  <br />

  <ngb-accordion [closeOthers]="true" activeIds="static-1" style="width: 100%">
    <ngb-panel
      id="{{ video.ffprobeData.format.filename }}"
      *ngFor="let video of videos"
    >
      <ng-template ngbPanelTitle>
        <span>
          {{ video.filename }}
          <ngb-progressbar
            [type]="getType(video)"
            [value]="getPercentage(video)"
            [striped]="stripedProgressBar(video)"
            [animated]="true"
          >
            {{ getStatus(video) ? getStatus(video).phase : "" }}
          </ngb-progressbar>
        </span>
      </ng-template>
      <ng-template ngbPanelContent>
        HELLO WORLD
        <!-- {{ stringify(video.ffprobeData) }} -->
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <br />
  <a routerLink="/wizard">Extract Dialog</a>
</div>
